# ESP IDF Related GitIgnore
build/
sdkconfig
sdkconfig.old

# LabVIEW Related GitIgnore
# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
